.container .container--flex {
  align-items: flex-start;
}

.contact-information {
  padding: 10px;
  padding-top: 0;
  margin-bottom: 30px;
}
.contact-information .column__title {
  font-family: "pacifico", cursive;
  font-weight: 100;
}

/* .contact-information [class*="fa-"] {
  font-size: 1em;
  margin-right: 7px;
  position: relative;
  top: 5px;
}
.contact-information .social-icon {
  justify-content: flex-start;
  margin-bottom: 10px;
}
.contact-information .social-icon [class*="fa-"] {
  background: #000;
  color: #fff;
  margin-left: 0;
  margin-right: 15px;
} */
.formulario {
  padding: 5px;
  background-color: darkslategrey;
  color: #fff;
  font-size: 0.7rem;
  box-shadow: 0px 10px 10px 1px rgba(0, 0, 0, 0.8);
}

input {
  margin: 20px;
  border-radius: 3px;
  border: none;
}
.formulario__label,
.formulario__input--txt,
.formulario__textarea {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.formulario__input--txt {
  padding: 10px;
  margin-bottom: 10px;
}
.formulario__textarea {
  min-height: 100px;
  max-height: 200px;
  min-width: 100%;
  max-width: 100%;
}
.formulario__btn {
  border: none;
  cursor: pointer;
  font-size: 1em;
  border-radius: 3px;
}
.copy span {
  color: #ff4900;
}

.contact-information [class*="fas fa-"]:before {
  color: black;
  margin-right: 5px;
}

.column--33 [class*="fas fa-"]:before {
  color: white;
  margin-right: 5px;
}

@media screen and (min-width: 480px) {
  .contact-information p {
    font-size: 0.75em;
  }
  .contact-information p {
    border-right: 1 px solid #de423a;
    border-bottom: none;
  }
  .container .container--flex {
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  .contact-information p {
    font-size: 1em;
  }

  .contact-information .column__title {
    font-size: 1.5em;
  }
}
